<div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">NodeJs</h4>
    <p class="list-group-item-text">
        Node.js® es un entorno de ejecución para JavaScript construido con el motor de JavaScript V8 de Chrome. Node.js usa un modelo de operaciones E/S sin bloqueo y orientado a eventos, que lo hace liviano y eficiente. El ecosistema de paquetes de Node.js, npm, es el ecosistema mas grande de librerías de código abierto en el mundo.
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Express</h4>
    <p class="list-group-item-text">
        Express es una infraestructura de aplicaciones web Node.js mínima y flexible que proporciona un conjunto sólido de características para las aplicaciones web y móviles.
    </p>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Handlebars</h4>
    <p class="list-group-item-text">Handlebars es una extensión de Mustache.js que tiene más prestaciones y mejor rendimiento. Si alguna vez hiciste algún template en Mustache.js no hay problema peusto que es compatible con Handlebars.</p>
  </a>
</div>