<div class="jumbotron">
  <h1>NodeJS & Handlebars</h1>
  <p>Demo simple con NodeJs, Express y Handlebars.</p>
  <p>
    <a href="https://nodejs.org/es/" target="_blank" class="btn btn-primary btn-lg">NodeJs</a>
    <a href="http://expressjs.com/" target="_blank" class="btn btn-primary btn-lg">Express</a>
    <a href="http://handlebarsjs.com" target="_blank" class="btn btn-primary btn-lg">Handlebars</a>
  </p>
</div>